*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

@font-face {
    font-family: 'LaoMuangKhong';
    src: url('font_x/lao-muang-khong/ofont.ru_AV Fontimer.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'LeagueScript';
    src: url('font_x/lao-muang-khong/LeagueScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* @media (max-width: 960px){
.header{
display: flex;
justify-content: space-between;
    
background-color: #F9E3D6;
font-family: 'LeagueScript';
padding-left: 60px;
padding-top: 20px;
padding-right: 60px;
}
.own{
width: 100px;
height: 100px;
}

    
} */
body{
    background-color: #F9E3D6;
    font-family: 'LaoMuangKhong';
    overflow: hidden;
}
.header{
    display: flex;
    justify-content: space-between;
    
    background-color: #F9E3D6;
    font-family: 'LeagueScript';
    padding-left: 200px;
    padding-top: 30px;
    padding-right: 200px;
}
.own{
    width: 100px;
    height: 100px;
    

}
.circle{
    align-items: flex-end;
}
.mood{
    font-size: 90px;
    padding-top: 20px;
    
    font-family: 'LeagueScript';
    position: relative;
    display: inline-block;
   
    
}
.book{
    font-size: 90px;
    padding-top: 20px;

    position: relative;
}

.mood:after{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: black;
    position: absolute;
    top: 90%;
    left: 0;
    z-index: 1;
}
.book:after{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: black;
    position: absolute;
    top: 90%;
    left: 0;
    z-index: 1;
}
.static{
    display: block;
    width: 180px;
    height: 210px;
    
}
.question{
    width: 90px;
    height: 90px;
}
.tea{
    padding-top: 35px;
    padding-left: 100px;
    padding-right: 100px;
    flex-direction: row;
    display: flex;
    align-items: start;
    justify-content:space-around;
    height: 600px;

}
.static_que{
    display: flex;
    flex-direction: column;
}
.new_title{
   width: 180px;
   height: 210px;
   border-width: 10px;
   border-color: black;
   padding-top: 30px;
   
   
}
.group{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgb(252, 242, 225);
}
.group_1{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgb(252, 242, 225);
}

input[type=text] {
    margin-top: 30px;
    width: 350px;
    height: 55px;
    margin-bottom: 30px;
    padding-left: 15px;
    background-color: #fff;
    
    outline: none;
    border: 2px solid #E6DAC5;
 }



input[type=radio]{
   
    position: absolute;
    opacity: 0;
    background-color: rgb(252, 242, 225);   
}
input[name=mood] {
    vertical-align: middle;
    transform:scale(4);
    opacity:0;
    cursor:pointer;
  }
input[name=mood] + svg{
    margin-right: 20px;
}
input[type=radio] + svg{
    vertical-align: middle;
    /* margin-top: 20px; */
    width: 45px;
    height: 45px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    /* padding-right: 5px; */
    justify-content: space-around;
    border: 2px solid transparent; /* Начальная граница прозрачная */
    border-radius: 50%; /* Закругление углов (по желанию) */
}

input[type=radio]:checked + svg{
    border: 2px solid black; /* Черная граница при нажатии */
}
input + svg{
    cursor: pointer;
}
button{
    cursor: pointer
}
/* input[type="radio"]:checked+label{ background-color: #FFFF00; } ​ */
.form{
    background-color: rgb(252, 242, 225);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
form{
    /* background-color: rgb(252, 242, 225); */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.data_1, .data_2, .data_3, .data_4{
    /* background-color: rgb(252, 242, 225); */
    padding-left: 40px;
}
.forma{
    background-color: rgb(252, 242, 225);
    width: 800px;
    height: 480px;
    display: flex;
    font-size: 27px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
   
}
.form_1{
    background-color: rgb(252, 242, 225);
    display: flex;
    align-items:flex-end;
    position: absolute;


}

.data_4{
    margin-top: 20px;
    
}
/* .data_5{
    display: flex;
    justify-content: space-between;
} */
.data_1{
    height: 140px;
    background-color: rgb(247, 185, 188);
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
/* input[type=data]::before{
        background-color: rgb(247, 185, 188);
    width: 200px;
    height: 100px;
    position: absolute;
    display: flex;
    padding-top: 50px;
    border: 5px;
    border-radius: 50%;
    border-color: black;
    font-size: 30px;
    align-items: flex-end;
} */

input[type=data]{
    background-color: rgb(247, 185, 188);
    width: 370px;
    height: 130px;
    position: absolute;
    display: flex;
    padding-top: 50px;
    border: none;
    font-size: 70px;
    outline: none;
    align-items: flex-end;
    
}
label[for="dont_know"]{
    margin-left: 70px;
}
#dont_know{
    transform: scale(1.7);
 
}
.data_5{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 30px;
}

.data_2, .data_3, .data_4{
    margin-top: 30px;
}
.data_2{
    padding-left: 40px;
}

.button{
    width: 140px;
    height: 60px;
    padding-right: 30px;
}
.button_naw{
    width: 80px;
    height: 80px;
}
.button_1{
    
    width: 140px;
    align-content: center;
    height: 60px;
    background-color: rgb(247, 185, 188);
    border-radius: 20px;
    font-size: 20px;
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center
}

.List{
    width: 600px;
    height: 470px;
    background-color: rgb(252, 242, 225);
    border-radius: 20px;
    border: 2px solid rgb(158, 156, 156);
}
.class_list{
    background-color: rgb(218, 205, 182);
    text-align: center;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.list_naw{
    background-color: rgb(218, 205, 182); 
    width: 700px;
    display: flex;
    align-items: start;
    justify-content: start;
    border: 30px solid rgb(252, 242, 225);
    height: 350px;
    
    overflow:hidden; 
    overflow-y:scroll;
    /* border-right: 80px solid rgb(252, 242, 225); */
}
.filter{
    display: flex;
    flex-direction: column;
}
.list_naw::-webkit-scrollbar {
    width: 40px;
    background-color: rgb(213, 197, 169);
    border-color: rgb(158, 156, 156);
    border-style: groove;
    border-width: 2px;
}
.list_naw::-webkit-scrollbar-thumb {
    background-color: rgb(183, 165, 133);
    border-color: rgb(158, 156, 156);
    border-style: groove;
    border-width: 2px;
}
.list_conteiner{
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    
}
.list_conteiner_1{
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
}
.button_naw, .button_naw_2, .button_naw_3{
    background-color: rgb(252, 242, 225);
    border: none;
    padding-top: 30px;
    padding-right: 30px;
    width: 90px;
    height: 90px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: none;
  
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown:hover .dropdown-content input[type=radio]:checked + svg{
    border: 2px solid black; /* Черная граница при нажатии */
}
.dropdown:hover .dropdown-content {display: block;}
.dropdown-content input[type="radio"] {
  
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.List_1{
    width: 600px;
    height: 470px;
    background-color: rgb(252, 242, 225);
    border-radius: 20px;
    border: 2px solid rgb(158, 156, 156);
    

}
.sovet{
    display: flex;
    justify-content: start;
    flex-direction: column;
}
.list_naw_2{
    background-color: rgb(218, 205, 182); 
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 20px solid rgb(252, 242, 225);
    /* height: 280px; */
    flex-direction: column;
    overflow:hidden; 

}
textarea {
    background-color: rgb(218, 205, 182); 
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    /* border: 30px solid ; */
    height: 180px;
    resize: none;
    overflow:hidden; 
    border: 5px solid rgb(252, 242, 225) ;
    outline: none;
    border-left: 20px solid rgb(252, 242, 225);
    padding-left: 20px;
    border-right: 20px solid rgb(252, 242, 225);
    
}
#name_list{
    background-color: rgb(218, 205, 182); 
    width: 500px;
    border: 5px solid rgb(252, 242, 225);
    border-left: 20px solid rgb(252, 242, 225);
    border-top: 20px solid rgb(252, 242, 225);
    border-right: 20px solid rgb(252, 242, 225);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    /* border: 30px solid ; */
    height: 80px;
    resize: none;
    overflow:hidden; 
}
#content{
    width: 320px;
    height: 380px;
}
#content_2{
    width: 320px;
    height: 380px;
    
}
.container {
    display: inline-block;
    background-color: #FDFAE7;
    border-radius: 35px;
    width: 600px;
    height: 460px;
    
  }
.head{
    background-color: #F7B9BC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 60px; 
}
header {
    /* margin: 20px; */
    background-color: #F7B9BC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    

    /* padding: 10px; */
}
.header-display {
    display: flex;
    align-items: center;
}
.header-display p {
    color: var(--accent);
    margin: 5px;
    font-size: 4rem;
    word-spacing: 0.5rem;
}
pre {
    padding: 10px;
    margin: 0;
    cursor: pointer;
    font-size: 2rem;
    color: var(--accent);
  }
.days,
.week {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin: auto;
  padding: 0 20px;
  justify-content: space-between;
}
.emotion{
    display: grid;
}
.week div,
.days div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 100%;
}
.days div:hover {
    background: var(--accent-2);
    color: rgb(25, 25, 201);
    cursor: pointer;
}
.week div {
    opacity: 0.5;
}
.current-date {
    background-color: var(--accent);
    color: var(--white);
}
.display-selected {
    margin-bottom: 10px;
    padding: 20px 20px;
    text-align: center;
}
.calendar{
    border-left: 1px solid #F59BA9;
    border-top: 1px solid #F59BA9;
    border-right: 1px solid #F59BA9;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.days{
    border-left: 1px solid #F59BA9;
    border-top: 1px solid #F59BA9;
    border-right: 1px solid #F59BA9;
}
.data_naw{
    display: flex;
    align-items: flex-end;
    position: absolute;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
  padding: 60px 15px;
}
 
.modal__content {
  width: 100%;
  max-width: 500px;
  padding: 50px;
  background: #f9f9f9;
  border-radius: 3px;
  position: relative;
  box-shadow: 0 5px 15px black;
}
 
.modal__close-button {
  background: #ff0000;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  background: none;
  cursor: pointer;
  transition: .3s;
  outline: none;
}
 
.modal__close-button:hover {
  transition: .3s;
  transform: rotate(180deg);
}
 
.modal__title {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin: 0 0 15px;
}
 
.modal__description {
  font-size: 1.125rem;
}
.modal {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  top: -1000px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
  padding: 60px 15px;
}
 
.modal_active {
  position: fixed;
  top: 0;
  visibility: visible;
  opacity: 1;
  transition: .3s;
}
.spidomitr{
    padding-top: 30px;
    flex-direction: column;
    align-items: center;

}

.days div.has-record {
  background-color: #4caf50; /* зелёный фон для дня с записью */
  color: white;
  border-radius: 50%;
}
.has-record {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
}
.action1{
    text-decoration: none;
}
.mood-scale-container{
    width: 260px;
    height: 460px;
    background-color: #FDFAE7;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    display: flex;
}
.mood-scale-block{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 260PX;
    height: 60px;
    background-color:#F7B9BC;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.mood-scale-label{
    font-size: 25px;
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 24px;
}
.sost{
    font-size: 18px;
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 24px;
}
.advice-link {
  color: inherit;
  text-decoration: none;
}

.modal1 {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
  padding: 60px 15px;
}
 
.modal__content1 {
  width: 100%;
  max-width: 500px;
  padding: 50px;
  background: #f9f9f9;
  border-radius: 3px;
  position: relative;
  box-shadow: 0 5px 15px black;
}
 
.modal__close-button1 {
  background: #ff0000;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  background: none;
  cursor: pointer;
  transition: .3s;
  outline: none;
}
 
.modal__close-button1:hover {
  transition: .3s;
  transform: rotate(180deg);
}
 
.modal__title1 {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin: 0 0 15px;
}
 
.modal__description1 {
  font-size: 1.125rem;
}
.modal1 {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  top: -1000px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
  padding: 60px 15px;
}
 
.modal_active {
  position: fixed;
  top: 0;
  visibility: visible;
  opacity: 1;
  transition: .3s;
}